.color{
    border: solid black 1px;
    display: inline-block;
}

#color1{
    background-color: black;
}

#color2{
    background-color: aqua;
}

#color3{
    background-color: blueviolet;
}

#color4{
    background-color: bisque ;
}