body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://www.teahub.io/photos/full/162-1622710_8-bit-background-zelda.jpg');
}

#clear-board {
  margin: 15px;
  padding: 5px;
}

#title {
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
}

#subtitle {
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
}

.color {
  border: solid black 1px;
  display: inline-block;
}

#black , .selected {
  background-color: black;
  height: 70px;
  width: 70px;
}

#cian , .selected {
  background-color: dodgerblue;
  height: 70px;
  width: 70px;
}

#pourple , .selected {
  background-color: gold;
  height: 70px;
  width: 70px;
}

#red , .selected {
  background-color: cyan;
  height: 70px;
  width: 70px;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 680px;
}

.pixel {
  border: solid black 1px;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
}
